
			.napuAccordion {
				margin-top: 1.5em;
				margin-bottom: 1.5em;
			}
			.napuAccordion .accordionContent .napuAccordion{
				margin-top: 0;
				margin-bottom: 0;
			}

			.napuAccordion button, .napuCollapseAllInParentButton {
				background-color: rgb(193,143,118);
				border: solid thick;
				border-color:#a37861;
				width: 100%;
				margin: .2em auto 0;
				font-size: 1.2em;
				font-weight: bold;
				font-family: 'Bubblegum Sans', serif;
				display:block;
				cursor: pointer;
			}

			.napuCollapseAllInParentButton {
				width: auto;
			}
			
			.accordionContent {
				padding: 0 0.3em 0.3em;
				border: thick #a37861 solid;
				display: none;
				padding:1em 1em 0em 1em;
			}

			.accordionContent li {
				overflow: auto;
			}
			
			.napuAccordion button:focus {
				outline: 0;
			}

			.napuAccordion .napuCollapseAccordionButton {
				margin-top: 1em;
			}